extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam accusamus odio odit enim, rem nemo similique delectus, cum animi reiciendis quia quae velit ab expedita sapiente sequi, earum molestias. Iure.

                p Donec sed lacinia nibh. Integer vel eros vitae purus convallis sagittis in vel risus. Nunc dolor sem, laoreet sed tincidunt id, malesuada ac ex. Vestibulum a tempor erat. Fusce laoreet feugiat consectetur. Nam vitae nibh dapibus, imperdiet ligula ut, suscipit magna. In mollis pellentesque scelerisque. Nam pulvinar vestibulum sodales. Fusce nec felis sollicitudin, pulvinar risus in, pellentesque justo. Cras pellentesque laoreet mauris, nec luctus tellus congue eget. Vivamus pulvinar neque convallis mi ullamcorper pellentesque. Sed quis augue ipsum. Nunc ac bibendum urna, vel tempor augue. Donec feugiat, tellus tincidunt viverra vulputate, velit tortor cursus ex, vel tristique justo ligula porta libero. Nunc vitae mollis eros.

                p Curabitur ultricies nisl purus, ut ultrices ante scelerisque in. Duis cursus orci vitae tortor commodo convallis. Sed lacinia luctus ex non viverra. Maecenas sollicitudin mollis libero ut porta. Nullam consequat quam ac turpis dapibus sagittis. Mauris quam enim, faucibus quis odio at, blandit cursus sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque ac dictum magna, in consectetur lacus. Integer molestie, lacus quis ultricies ullamcorper, sapien arcu tincidunt risus, a laoreet nisl quam et felis. Nulla sit amet turpis nec ligula euismod tincidunt.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p ltricies nisl purus, ut ultrices ante scelerisque in. Duis cursus agittis in vel risus. Nunc dolor
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p ltricies nisl purus, ut ultrices ante scelerisque in. Duis cursus agittis in vel risus. Nunc dolor
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p ltricies nisl purus, ut ultrices ante scelerisque in. Duis cursus agittis in vel risus. Nunc dolor        